.iconfont{
     color: #23b7e5;
 }
.cj-button-box button{
    background-color: #23b7e5;
    border: 1px solid #23b7e5;
}
.navbar-toggler{
    color: #23b7e5;
}
.cj-input-box input:hover,.cj-input-box input:focus {
    border-color: #23b7e5!important;
}
.cj-input-box input:focus {
    border-color: #23b7e5!important;
    box-shadow: 0 0 0 2px rgba(35, 183, 229, 0.2)!important;
}
.text-primary {
    color: #23b7e5!important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #23b7e5!important;
    border-color: #23b7e5!important;
}
.pagination>li>a, .pagination>li>span {
    color: #23b7e5!important;
}
.sidebar .nav div > .nav-dropdown.open {
    border-left: 4px solid #23b7e5!important;
}
.ivu-btn-info,.ivu-page-item-active{
    background-color: #23b7e5!important;
    border-color: #23b7e5!important;
}
.ivu-input:focus,.ivu-input:hover,.ivu-select:focus .ivu-select-selection,.ivu-select-selection:hover{
    border-color: #23b7e5!important;
}
.ivu-select-item-selected, .ivu-select-item-selected:hover{
    background-color: #23b7e5!important;
}
