.iconfont{
    color: #f0ad4e;
}
.cj-button-box button{
    background-color: #f0ad4e;
    border: 1px solid #f0ad4e;
}
.navbar-toggler{
     color: #f0ad4e;
 }
.cj-input-box input:hover{
      border-color: #f0ad4e!important;
  }
.cj-input-box input:focus {
    border-color: #f0ad4e!important;
    box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.2)!important;
}
.text-primary {
    color: #f0ad4e!important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #f0ad4e!important;
    border-color: #f0ad4e!important;
}
.pagination>li>a, .pagination>li>span {
    color: #f0ad4e!important;
}
.sidebar .nav div > .nav-dropdown.open {
    border-left: 4px solid #f0ad4e!important;
}
.ivu-btn-info,.ivu-page-item-active{
    background-color: #f0ad4e!important;
    border-color: #f0ad4e!important;
}
.ivu-input:focus,.ivu-input:hover,.ivu-select:focus .ivu-select-selection,.ivu-select-selection:hover{
    border-color: #f0ad4e!important;
}
.ivu-select-item-selected, .ivu-select-item-selected:hover{
    background-color: #f0ad4e!important;
}