.container-fluid .form{
    height: 60px;
    padding-top: -10px;
    margin: -15px -15px 15px -15px;
    padding: 15px 15px 0 15px;
    background: #f9f9f9;
}
.ivu-form-inline .ivu-form-item{
    float: left;
}
.container-fluid form .form-group{
    float: left;
    margin-right: 20px;
}
.iconfont{
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}
.ivu-btn.ivu-btn-loading{
    pointer-events:visible!important;
}